<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Delete room type form</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>DELETE ROOM TYPE</h1>
        <span>
        </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <div class="form-style">
                <div class="div-form">
                    <h1 class="text-center">CONFIRM DELETE ROOM TYPE</h1>
                    <div class="alert alert-warning">
                        <strong>WARNING!</strong> Are you sure you want to delete the following room type?
                    </div>
                    <div>
                        <p><strong>ROOM TYPE:</strong> <span th:text="${roomType.name}"></span></p>
                        <p><strong>DESCRIPTION:</strong> <span th:text="${roomType.description}"></span></p>
                        <p><strong>CAPACITY:</strong> <span th:text="${roomType.capacity}"></span></p>
                    </div>
                    <form th:action="@{/roomTypes/{id}/delete(id=${roomType.id})}" method="post">
                        <button type="submit" class="input-button">DELETE</button>
                        <a href="/roomTypes" class="input-button">CANCEL</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>