<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create room type form</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>CREATE NEW ROOM TYPE</h1>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>
        <form th:action="@{/roomTypes/newRoomTypes}" th:object="${roomType}" method="post">
            <div class="form-group">
                <label for="name">ROOM TYPE</label>
                <input type="text" id="name" th:field="*{name}" class="item" required>
            </div>
            <div class="form-group">
                <label for="description">DESCRIPTION</label>
                <textarea id="description" th:field="*{description}" class="item" required></textarea>
            </div>
            <div class="form-group">
                <label for="capacity">CAPACITY</label>
                <input type="number" id="capacity" th:field="*{capacity}" class="item" required>
            </div>
            <button type="submit" class="input-button">CREATE ROOM TYPE</button>
            <a href="/roomTypes" class="input-button">BACK TO ROOM TYPES LIST</a>
        </form>
        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p th:text="${successMessage}"></p>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>