<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit meal plan form</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>EDIT MEAL PLAN</h1>
        <span>
        </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <div class="form-style">
                <div class="registration-cssave">
                    <h1 class="text-center">EDIT MEAL PLAN</h1>
                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <p th:text="${errorMessage}"></p>
                    </div>
                    <div th:if="${successMessage}" class="alert alert-success">
                        <p th:text="${successMessage}"></p>
                    </div>
                    <form th:action="@{/nutrition/{id}/update(id=${nutrition.id})}" th:object="${nutrition}"
                          method="post">
                        <div class="form-group">
                            <label for="name">MEAL PLAN</label><br>
                            <input type="text" id="name" th:field="*{name}" class="item" required>
                        </div>
                        <div class="form-group">
                            <label for="description">DESCRIPTION</label><br>
                            <textarea id="description" th:field="*{description}" class="item" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="price">PRICE</label><br>
                            <input type="number" id="price" th:field="*{price}" class="item" required>
                        </div>
                        <button type="submit" class="input-button">UPDATE NUTRITION</button>
                        <a href="/nutrition" class="input-button">RETURN TO MEAL PLAN LIST</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div th:insert="common/footer :: footer"></div>