<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit room form</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>EDIT ROOM</h1>
        <span>
    </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <div class="form-style">
                <div class="registration-cssave">
                    <form th:action="@{/rooms/{id}/update(id=${room.id})}" method="post">
                        <div class="form-group">
                            <label for="roomType">ROOM TYPE</label>
                            <select id="roomType" name="roomType" class="item" required>
                                <option value="" disabled>Select Room Type</option>
                                <option th:each="type : ${roomTypes}"
                                        th:value="${type.id}"
                                        th:text="${type.name}"
                                        th:selected="${room.roomTypeDto.id == type.id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="number">ROOM NUMBER</label>
                            <input type="number" id="number" name="number" class="item" th:value="${room.number}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="availability">AVAILABILITY</label>
                            <select id="availability" name="availability" class="item" required>
                                <option value="true" th:selected="${room.availability}">Available</option>
                                <option value="false" th:selected="${!room.availability}">Not Available</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="price">PRICE</label>
                            <input type="number" id="price" name="price" class="item" th:value="${room.price}"
                                   step="0.01"
                                   required>
                        </div>
                        <button type="submit" class="input-button">UPDATE ROOM</button>
                        <a href="/rooms" class="input-button">BACK TO ROOMS LIST</a>
                    </form>
                    <div th:if="${successMessage}" class="alert alert-success" role="alert">
                        <p th:text="${successMessage}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:insert="common/footer :: footer"></div>