<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Service list</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>ADDITIONAL SERVICE</h1>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <table class="table">
                <thead>
                <tr>
                    <th class="table_add_serv">ADDITIONAL SERVICE</th>
                    <th>PRICE</th>
                    <th>ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="additionalService : ${additionalServices}">
                    <td th:text="${additionalService.name}"></td>
                    <td class="table_td_center" th:text="${additionalService.price} + ' €'"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a th:href="@{/additionalServices/{id}(id=${additionalService.id})}" class="button">VIEW</a>
                            <!--                            <div th:if="${isAdmin}">-->
                            <a th:href="@{/additionalServices/{id}/edit(id=${additionalService.id})}" class="button">EDIT</a>
                            <a th:href="@{/additionalServices/{id}/delete(id=${additionalService.id})}" class="button">DELETE</a>
                            <!--                            </div>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="/additionalServices/createAdditionalServiceForm" class="input-button">CREATE NEW ADDITIONAL SERVICE</a>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>