<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Reservation details</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>RESERVATION</h1>
        <span>
        </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <div class="form-style">
                <div class="div-form">
                    <h1 class>NUMBER RESERVATION: <span th:text="${booking.id}"></h1>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title">DETAILS</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>BOOKED ROOMS:</strong>
                                <span th:if="${!#lists.isEmpty(booking.roomDtos)}">
                    <ul>
                        <li th:each="room : ${booking.roomDtos}" th:text="${room.number} + ' €'"></li>
                    </ul>
                </span><br>
                                <strong>CUSTOMER:</strong> <span
                                    th:text="${booking.userDto.firstName} + ' ' + ${booking.userDto.lastName}"></span><br>
                                <strong>MEAL PLAN:</strong> <span th:text="${booking.nutritionDto.name} + ' €'"></span><br>
                                <strong>ADDITIONAL SERVICES:</strong>
                                <span th:if="${!#lists.isEmpty(booking.additionalServiceDtos)}">
                    <ul>
                        <li th:each="service : ${booking.additionalServiceDtos}" th:text="${service.name} + ' €'"></li>
                    </ul>
                </span><br>
                                <strong>CHECK IN DATE:</strong> <span th:text="${booking.checkInDate}"></span><br>
                                <strong>CHECK OUT DATE:</strong> <span th:text="${booking.checkOutDate}"></span><br>
                                <strong>NUMBER OF ADULTS:</strong> <span th:text="${booking.adultsCount}"></span><br>
                                <strong>NUMBER OF CHILDREN:</strong> <span
                                    th:text="${booking.childrenCount}"></span><br>
                                <strong>STATUS OF BOOKING:</strong> <span th:text="${booking.bookingStatus}"></span><br>
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a th:href="@{/bookings/{id}/edit(id=${booking.id})}" class="input-button">EDIT</a>
                        <a th:href="@{/bookings/{id}/delete(id=${booking.id})}" class="input-button">DELETE</a>
                        <a th:href="@{/bookings}" class="input-button">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>