<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Details</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>ROOMS LIST</h2>
    <h1 class="text-center">NUMBER RESERVATION: <span th:text="${booking.id}"></h1>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">BOOKING DETAILS</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <strong>BOOKED ROOMS:</strong>
                <span th:if="${!#lists.isEmpty(booking.roomDtos)}">
                    <ul>
                        <li th:each="room : ${booking.roomDtos}" th:text="${room.number}"></li>
                    </ul>
                </span><br>
                <strong>Customer:</strong> <span th:text="${booking.userDto.firstName} + ' ' + ${booking.userDto.lastName}"></span><br>
                <strong>Nutrition:</strong> <span th:text="${booking.nutritionDto.name}"></span><br>
                <strong>Additional services:</strong>
                <span th:if="${!#lists.isEmpty(booking.additionalServiceDtos)}">
                    <ul>
                        <li th:each="service : ${booking.additionalServiceDtos}" th:text="${service.name}"></li>
                    </ul>
                </span><br>
                <strong>Check-in date:</strong> <span th:text="${booking.checkInDate}"></span><br>
                <strong>Check-out date:</strong> <span th:text="${booking.checkOutDate}"></span><br>
                <strong>Number of adults:</strong> <span th:text="${booking.adultsCount}"></span><br>
                <strong>Number of children:</strong> <span th:text="${booking.childrenCount}"></span><br>
                <strong>Status of booking:</strong> <span th:text="${booking.bookingStatuses}"></span><br>
            </p>
        </div>
    </div>

    <div class="text-center">
        <a th:href="@{/bookings/{id}/edit(id=${booking.id})}" class="btn btn-warning">EDIT</a>
        <a th:href="@{/bookings/{id}/delete(id=${booking.id})}" class="btn btn-danger btn-sm">DELETE</a>
        <a th:href="@{/home}" class="btn btn-secondary">Cancel</a>
    </div>
</div>
</body>
</html>