<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Reservation list</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>RESERVATION LIST</h1>
        <span>
        </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <table class="table">
                <thead>
                <tr>
                    <th>BOOKINGS NUMBER</th>
                    <th>USER ACCOUNT</th>
                    <th>USER FIRST NAME</th>
                    <th>USER LAST NAME</th>
                    <th>ROOMS</th>
                    <th>MEAL PLAN</th>
                    <th>ADDITIONAL SERVICES</th>
                    <th>CHECK IN DATE</th>
                    <th>CHECK OUT DATE</th>
                    <th>BOOKING STATUS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booking : ${bookings}">
                    <td th:text="${booking.id}"></td>
                    <td th:text="${booking.userDto.username}"></td>
                    <td th:text="${booking.userDto.firstName}"></td>
                    <td th:text="${booking.userDto.lastName}"></td>
                    <td>
                        <span th:if="${#lists.isEmpty(booking.roomDtos)}"></span>
                        <span th:if="${!#lists.isEmpty(booking.roomDtos)}">
                <div th:each="room : ${booking.roomDtos}">
                    <span th:text="${room.number}"></span>
                </div>
            </span>
                    </td>
                    <td th:text="${booking.nutritionDto.name}"></td>
                    <td>
                        <span th:if="${#lists.isEmpty(booking.additionalServiceDtos)}"></span>
                        <span th:if="${!#lists.isEmpty(booking.additionalServiceDtos)}">
                <div th:each="service : ${booking.additionalServiceDtos}">
                    <span th:text="${service.name}"></span>
                </div>
            </span>
                    </td>
                    <td th:text="${booking.checkInDate}"></td>
                    <td th:text="${booking.checkOutDate}"></td>
                    <td th:text="${booking.bookingStatus}"></td>
                    <td>
                        <a th:href="@{/bookings/{id}(id=${booking.id})}" class="button">VIEW</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="/home" class="input-button">BACK TO HOMEPAGE</a>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>