<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
</head>
<body>
<div class="header-toolbox">
    <div class="toolbox">
        <div class="logo-top">
            <div class="logo-top-img">
                <img src="./img/head-logo.png">
            </div>
            <div class="logo-top-text">HOTEL</div>
        </div>
        <div class="quick-list">
            <a class="quick-list-link" th:href="@{/login}">Sign in</a>
            <a class="quick-list-link" th:href="@{/register}">Sign up</a>
            <a class="quick-list-link" th:href="@{/dashboard}">Personal account</a>
        </div>
    </div>
    <div id="header">
        <div class="navigation">
            <div class="navi-menu">
                <nav>
                    <ul class="menu">
                        <li class="menu-1depth">
                        <a class="menu-1depth-text" th:href="@{/rooms}">Rooms</a>
                        </li>
                        <li class="menu-1depth">
                            <a class="menu-1depth-text" th:href="@{/nutrition}">Nutrition</a>
                        </li>
                        <li class="menu-1depth">
                            <a class="menu-1depth-text" th:href="@{/additionalServices}">AdditionalService</a>
                        </li>
                        <li class="menu-1depth">
                            <a class="menu-1depth-text" th:href="@{/bookings/bookingForm}">Book</a>
                        </li>
                        <li class="=menu-1depth">
                            <a class="quick-list-link" th:href="@{/dashboard}">Personal account</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="=main-header">
            <h1>Welcome to the Hotel!</h1>
        <span>Enjoy a comfortable stay with us.</span>
        </div>
        <div class="main-space-hr">
            <hr>
        </div>
        <div class="main-content">
        </div>
    </div>
    <div id="footer">
        <div class="=about-space">

        </div>
    </div>
</div>
</body>
</html>