<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Meal plan details</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>MEAL PLAN DETAILS</h1>
        <span>
        </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <div class="form-style">
                <div class="div-form">
                    <h1 class="text-center">MEAL PLAN DETAILS</h1>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 th:text="${nutrition.name}"></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Description:</strong> <span th:text="${nutrition.description}"></span><br>
                                <strong>Price:</strong> <span th:text="${nutrition.price} + ' €'"></span>
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a th:href="@{/nutrition}" class="input-button">BACK TO MEAL PLAN LIST</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div th:insert="common/footer :: footer"></div>