<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal plan list</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center">MEAL PLAN LIST</h1>
    <a href="/nutrition/createNutritionForm" class="btn btn-primary mb-3">CREATE NEW MEAL PLAN</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>MEAL PLAN</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nutrition : ${nutritionList}">
            <td th:text="${nutrition.name}"></td>
            <td th:text="${nutrition.description}"></td>
            <td th:text="${nutrition.price} + ' €'"></td>
            <td>
                <div class="btn-group" role="group" aria-label="Actions">
                    <a th:href="@{/nutrition/{id}(id=${nutrition.id})}" class="btn btn-info btn-sm">VIEW</a>
                    <a th:href="@{/nutrition/{id}/edit(id=${nutrition.id})}" class="btn btn-warning btn-sm">EDIT</a>
                    <a th:href="@{/nutrition/{id}/delete(id=${nutrition.id})}" class="btn btn-danger btn-sm">DELETE</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/" class="btn btn-secondary">BACK TO HOMEPAGE</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>