<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit room type</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center">EDIT ROOM TYPE</h1>
    <form th:action="@{/roomTypes/{id}/update(id=${roomType.id})}" th:object="${roomType}" method="post">
        <div class="form-group">
            <label for="name">Room Type Name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" th:field="*{description}" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="capacity">Capacity</label>
            <input type="number" id="capacity" th:field="*{capacity}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">UPDATE ROOM TYPE</button>
        <a href="/roomTypes" class="btn btn-secondary">BACK TO ROOM TYPES LIST</a>
    </form>
</div>
</body>
</html>