<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Room details</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>ROOM</h1>
        <span>
        </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <div class="form-style">
                <div class="div-form">
                    <h2>ROOM DETAILS</h2>
                    <div>
                        <p><strong>ROOM NUMBER:</strong> <span th:text="${room.number}"></span></p>
                        <p><strong>ROOM TYPE:</strong> <span th:text="${room.roomTypeDto.name}"></span></p>
                        <p><strong>DESCRIPTION:</strong> <span th:text="${room.roomTypeDto.description}"></span></p>
                        <p><strong>NUMBER OF PEOPLE STAYING IN THE ROOM:</strong> <span
                                th:text="${room.roomTypeDto.capacity}"></span></p>
                        <p><strong>PRICE:</strong> <span th:text="${room.price} + ' €'"></span></p>
                    </div>
                    <a href="/rooms" class="input-button">BACK TO ROOMS LIST</a>
                    <a th:href="@{/rooms/{id}/edit(id=${room.id})}" class="input-button">EDIT ROOM</a>
                    <a th:href="@{/rooms/{id}/delete(id=${room.id})}" class="input-button">DELETE ROOM</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>
