<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Room types list</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>ROOM TYPES LIST</h1>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <table class="table">
                <thead>
                <tr>
                    <th>ROOM TYPE</th>
                    <th>DESCRIPTION</th>
                    <th>CAPACITY</th>
                    <th>ACTIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="roomType : ${roomTypes}">
                    <td th:text="${roomType.name}"></td>
                    <td th:text="${roomType.description}"></td>
                    <td th:text="${roomType.capacity}"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a th:href="@{/roomTypes/{id}/edit(id=${roomType.id})}" class="button"
                               style="float: left; margin: 2px; padding: 2px">EDIT</a>
                            <a th:href="@{/roomTypes/{id}/delete(id=${roomType.id})}" class="button"
                               style="float: left; margin: 2px; padding: 2px">DELETE</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="/roomTypes/createRoomTypeForm" class="input-button">CREATE NEW ROOM TYPE</a>
            <a href="/home" class="input-button">Back to Home</a>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>