<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Reservation form</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>RESERVATION FORM</h1>
        <span>
        </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <div>
                <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>
                <form th:action="@{/bookings/chooseRooms}" method="post" th:object="${bookingDto}">
                    <input type="hidden" th:name="id" th:value="${bookingDto.id}"/>
                    <input type="hidden" th:name="checkInDate" th:value="${bookingDto.checkInDate}"/>
                    <input type="hidden" th:name="checkOutDate" th:value="${bookingDto.checkOutDate}"/>
                    <input type="hidden" th:name="adultsCount" th:value="${bookingDto.adultsCount}"/>
                    <input type="hidden" th:name="childrenCount" th:value="${bookingDto.childrenCount}"/>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="table_room_number">ROOM NUMBER</th>
                            <th>ROOM TYPE</th>
                            <th>ROOM CAPACITY</th>
                            <th>PRICE</th>
                            <th>CHOOSE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="room : ${filteredRooms}">
                            <td class="table_td_center" th:text="${room.number}"></td>
                            <td th:text="${room.roomTypeDto.name}"></td>
                            <td th:text="${room.roomTypeDto.capacity}"></td>
                            <td class="table_td_center" th:text="${room.price} + ' €'"></td>
                            <td>
                                <label>
                                    <input type="checkbox" th:name="selectedRoomIds" th:value="${room.id}"/>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group-button">
                        <button type="submit" class="input-button">SELECT ROOMS</button>
                    </div>
                </form>
                <form th:action="@{/bookings/cancel/{id}(id=${bookingDto.id})}" method="post" style="display:inline;">
                    <div class="form-group-button">
                        <button type="submit" class="input-button">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>