<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Confirmation reservation</title>
    <link rel="stylesheet" th:href="@{../../css/styles.css}" type="text/css">
    <link rel="icon" type="image/x-icon" href="./../img/logo.png">
</head>
<div th:insert="common/header :: header"></div>
<div id="main">
    <div class="main-space-hr"></div>
    <div class="main-header">
        <h1>CONFIRMATION RESERVATION</h1>
        <span>
        </span>
    </div>
    <div class="main-space-hr">
        <hr>
    </div>
    <div class="main-content">
        <div class="main-content-header">
            <div class="form-style">
                <div class="div-form">
                    <h1>CONFIRM YOUR BOOKING</h1>
                    <form th:action="@{/bookings/confirm/{id}(id=${bookingDto.id})}" method="post">
                        <input type="hidden" th:name="id" th:value="${bookingDto.id}"/>
                        <p><strong>ARRIVAL DATE:</strong> <span th:text="${bookingDto.checkInDate}"></span></p>
                        <p><strong>DEPARTURE DATE:</strong> <span th:text="${bookingDto.checkOutDate}"></span></p>
                        <p><strong>NUMBER OF ADULTS:</strong> <span th:text="${bookingDto.adultsCount}"></span></p>
                        <p><strong>NUMBER OF CHILDREN:</strong> <span th:text="${bookingDto.childrenCount}"></span></p>
                        <br>
                        <h3>SELECTED ROOMS:</h3>
                        <ul class="list-group">
                            <li class="list-group-item" th:each="room : ${bookingDto.roomDtos}">
                                ROOM NUMBER: <span th:text="${room.number}"></span> - PRICE: <span
                                    th:text="${room.price} + ' €'"></span> €
                            </li>
                        </ul>
                        <br>
                        <h3>SELECTED MEAL PLAN:</h3>
                        <p th:text="${bookingDto.nutritionDto}"></p>
                        <p th:text="${bookingDto.nutritionDto.name}"></p>
                        <p>PRICE: <span th:text="${bookingDto.nutritionDto.price} +' €'"></span> €</p>
                        <br>
                        <h3>SELECTED ADDITIONAL SERVICES:</h3>
                        <ul class="list-group">
                            <li class="list-group-item" th:each="service : ${bookingDto.additionalServiceDtos}">
                                ADDITIONAL SERVICES: <span th:text="${service.name}"></span> - PRICE: <span
                                    th:text="${service.price} +' €'"></span> €
                            </li>
                        </ul>
                    </form>
                    <form th:action="@{/bookings/confirm/{id}(id=${bookingDto.id})}" method="post">
                        <button type="submit" class="input-button">CONFIRM BOOKING</button>
                    </form>
                    <form th:action="@{/bookings/cancel/{id}(id=${bookingDto.id})}" method="post"
                          style="display:inline;">
                        <button type="submit" class="input-button">CANCEL BOOKING</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="common/footer :: footer"></div>
